# BCG Gamma Challenge

# Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Dataset

In [3]:
df_municipios_2015 = pd.read_csv('bcggammachallenge/municipios/municipios20150101.csv')

In [4]:
df_municipios_2016 = pd.read_csv('bcggammachallenge/municipios/municipios20160101.csv')

In [5]:
df_municipios_2017 = pd.read_csv('bcggammachallenge/municipios/municipios20170101.csv')

In [6]:
df_municipios_2015.shape

(5570, 51)

In [7]:
df_municipios_2016.shape

(5570, 51)

In [8]:
df_municipios_2017.shape

(5570, 51)

In [9]:
df = pd.concat([df_municipios_2015, df_municipios_2016, df_municipios_2017])

In [10]:
df.shape

(16710, 51)

In [11]:
df.head(5)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas
0,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45
1,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181
2,2015,Sudeste,São Paulo,Assis,Assis,Cruzália,3513306,5,3,103,105,93,84,33,18,23,21,10,21,17,26,29,29,30,25,0,0,18,18,3,1,3,1,2,1,2,1,3,2,1,2,3,3,1,54,0,0,44,590,405,37
3,2015,Sudeste,São Paulo,Assis,Assis,Campos Novos Paulista,3509809,3,3,202,334,312,167,62,59,90,63,60,96,64,78,74,69,55,43,0,0,26,26,3,0,3,0,3,2,3,2,2,2,2,2,3,3,3,133,0,0,77,1131,1015,61
4,2015,Sudeste,São Paulo,Assis,Assis,Assis,3504008,75,70,5052,6126,5002,3323,1256,1306,1237,1194,1133,1430,1053,1198,1321,1216,1087,1020,0,0,842,897,67,28,59,14,22,42,67,49,67,56,29,62,68,66,53,3288,0,0,1417,25237,22096,1134

In [12]:
df_ideb_ini = pd.read_csv('bcggammachallenge/ideb/ideb_municipios_anosiniciais2005_2017.csv',sep = ',',encoding='latin-1')

In [13]:
df_ideb_ini.columns

Index(['Co_UF', 'Cod_Municipio_Completo', 'Nome_Municipio', 'Rede',
       'TaxaAprovacao2005_1ao5ano', 'TaxaAprovacao2005_1ano',
       'TaxaAprovacao2005_2ano', 'TaxaAprovacao2005_3ano',
       'TaxaAprovacao2005_4ano', 'TaxaAprovacao2005_5ano',
       'IndicadorRendimento_2005', 'TaxaAprovacao2007_1ao5ano',
       'TaxaAprovacao2007_1ano', 'TaxaAprovacao2007_2ano',
       'TaxaAprovacao2007_3ano', 'TaxaAprovacao2007_4ano',
       'TaxaAprovacao2007_5ano', 'IndicadorRendimento_2007',
       'TaxaAprovacao2009_1ao5ano', 'TaxaAprovacao2009_1ano',
       'TaxaAprovacao2009_2ano', 'TaxaAprovacao2009_3ano',
       'TaxaAprovacao2009_4ano', 'TaxaAprovacao2009_5ano',
       'IndicadorRendimento_2009', 'TaxaAprovacao2011_1ao5ano',
       'TaxaAprovacao2011_1ano', 'TaxaAprovacao2011_2ano',
       'TaxaAprovacao2011_3ano', 'TaxaAprovacao2011_4ano',
       'TaxaAprovacao2011_5ano', 'IndicadorRendimento_2011',
       'TaxaAprovacao2013_1ao5ano', 'TaxaAprovacao2013_1ano',
       'TaxaAprovacao2013_2ano', 'TaxaAprovacao2013_3ano',
       'TaxaAprovacao2013_4ano', 'TaxaAprovacao2013_5ano',
       'IndicadorRendimento_2013', 'TaxaAprovacao2015_1ao5ano',
       'TaxaAprovacao2015_1ano', 'TaxaAprovacao2015_2ano',
       'TaxaAprovacao2015_3ano', 'TaxaAprovacao2015_4ano',
       'TaxaAprovacao2015_5ano', 'IndicadorRendimento_2015',
       'TaxaAprovacao2017_1ao5ano', 'TaxaAprovacao2017_1ano',
       'TaxaAprovacao2017_2ano', 'TaxaAprovacao2017_3ano',
       'TaxaAprovacao2017_4ano', 'TaxaAprovacao2017_5ano',
       'IndicadorRendimento_2017', 'NotaProvaBrasil_MT_2005',
       'NotaProvaBrasil_LP_2005', 'NotaProvaBrasil_NotaMedia_2005',
       'NotaProvaBrasil_MT_2007', 'NotaProvaBrasil_LP_2007',
       'NotaProvaBrasil_NotaMedia_2007', 'NotaProvaBrasil_MT_2009',
       'NotaProvaBrasil_LP_2009', 'NotaProvaBrasil_NotaMedia_2009',
       'NotaProvaBrasil_MT_2011', 'NotaProvaBrasil_LP_2011',
       'NotaProvaBrasil_NotaMedia_2011', 'NotaProvaBrasil_MT_2013',
       'NotaProvaBrasil_LP_2013', 'NotaProvaBrasil_NotaMedia_2013',
       'NotaProvaBrasil_MT_2015', 'NotaProvaBrasil_LP_2015',
       'NotaProvaBrasil_NotaMedia_2015', 'NotaProvaBrasil_MT_2017',
       'NotaProvaBrasil_LP_2017', 'NotaProvaBrasil_NotaMedia_2017', 'Ideb2005',
       'Ideb2007', 'Ideb2009', 'Ideb2011', 'Ideb2013', 'Ideb2015', 'Ideb2017',
       'ProjecaoIdeb2007', 'ProjecaoIdeb2009', 'ProjecaoIdeb2011',
       'ProjecaoIdeb2013', 'ProjecaoIdeb2015', 'ProjecaoIdeb2017',
       'ProjecaoIdeb2019', 'ProjecaoIdeb2021'],
      dtype='object')

In [14]:
df_ideb_ini[['Cod_Municipio_Completo', 'Ideb2017']].head()

   Cod_Municipio_Completo Ideb2017
0               1100015.0      6.2
1               1100015.0      5.1
2               1100015.0      6.2
3               1100023.0        6
4               1100023.0      5.4

In [15]:
df_ideb_ini = df_ideb_ini.rename(columns={'Cod_Municipio_Completo': 'cod_municipio'})

In [16]:
df_ideb_ini_2015 = df_ideb_ini.copy()

In [17]:
df_ideb_ini = df_ideb_ini[['cod_municipio', 'Ideb2017']]

In [18]:
df_ideb_ini_2015 = df_ideb_ini_2015[['cod_municipio', 'Ideb2015']]

In [19]:
df_ideb_ini.head()

   cod_municipio Ideb2017
0      1100015.0      6.2
1      1100015.0      5.1
2      1100015.0      6.2
3      1100023.0        6
4      1100023.0      5.4

In [20]:
df_ideb_ini_2015.head()

   cod_municipio Ideb2015
0      1100015.0      5.8
1      1100015.0        5
2      1100015.0      5.8
3      1100023.0      5.6
4      1100023.0        5

In [21]:
df_ideb_ini['cod_municipio'] = df_ideb_ini.cod_municipio.astype(float)
df_ideb_ini_2015['cod_municipio'] = df_ideb_ini_2015.cod_municipio.astype(float)

In [22]:
df_result_2017 = pd.merge(df_municipios_2017, df_ideb_ini, how='inner', on='cod_municipio')
df_result_2015 = pd.merge(df_municipios_2015, df_ideb_ini_2015, how='inner', on='cod_municipio')

In [23]:
df_result_2017.head()

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,Ideb2017
0,2017,Sudeste,São Paulo,Assis,Assis,Iepê,3519907,3,3,347,491,394,310,115,108,81,87,100,130,64,83,117,106,96,108,0,0,40,40,13,0,11,0,0,2,10,4,5,4,0,3,79,17,62,193,0,0,96,2176,1562,98,6.2
1,2017,Sudeste,São Paulo,Assis,Assis,Iepê,3519907,3,3,347,491,394,310,115,108,81,87,100,130,64,83,117,106,96,108,0,0,40,40,13,0,11,0,0,2,10,4,5,4,0,3,79,17,62,193,0,0,96,2176,1562,98,6.2
2,2017,Sudeste,São Paulo,Assis,Assis,Paraguaçu Paulista,3535507,41,35,2265,2765,2229,1580,562,513,562,568,560,550,526,591,562,581,522,365,0,0,348,348,134,7,84,7,15,21,92,66,147,64,5,51,511,141,336,1350,0,0,684,9777,9354,449,6.6
3,2017,Sudeste,São Paulo,Assis,Assis,Paraguaçu Paulista,3535507,41,35,2265,2765,2229,1580,562,513,562,568,560,550,526,591,562,581,522,365,0,0,348,348,134,7,84,7,15,21,92,66,147,64,5,51,511,141,336,1350,0,0,684,9777,9354,449,6.6
4,2017,Sudeste,São Paulo,Assis,Assis,Palmital,3535309,24,19,982,1371,1066,826,312,259,251,252,297,262,215,252,337,217,203,248,0,0,146,146,42,12,42,11,11,15,40,19,56,28,5,19,296,60,235,599,0,0,340,5435,4481,241,6.6

In [24]:
df_result_2015 = df_result_2015.rename(columns={'Ideb2015': 'ideb'})
df_result_2017 = df_result_2017.rename(columns={'Ideb2017': 'ideb'})

In [25]:
df_result_2015.shape

(14436, 52)

In [26]:
df_result_2017.shape

(14436, 52)

In [27]:
df_result_2015.head()

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
0,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45,6.1
1,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45,6.1
2,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181,6.1
3,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181,6.1
4,2015,Sudeste,São Paulo,Assis,Assis,Cruzália,3513306,5,3,103,105,93,84,33,18,23,21,10,21,17,26,29,29,30,25,0,0,18,18,3,1,3,1,2,1,2,1,3,2,1,2,3,3,1,54,0,0,44,590,405,37,-

In [28]:
df_result_2017.head()

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas,ideb
0,2017,Sudeste,São Paulo,Assis,Assis,Iepê,3519907,3,3,347,491,394,310,115,108,81,87,100,130,64,83,117,106,96,108,0,0,40,40,13,0,11,0,0,2,10,4,5,4,0,3,79,17,62,193,0,0,96,2176,1562,98,6.2
1,2017,Sudeste,São Paulo,Assis,Assis,Iepê,3519907,3,3,347,491,394,310,115,108,81,87,100,130,64,83,117,106,96,108,0,0,40,40,13,0,11,0,0,2,10,4,5,4,0,3,79,17,62,193,0,0,96,2176,1562,98,6.2
2,2017,Sudeste,São Paulo,Assis,Assis,Paraguaçu Paulista,3535507,41,35,2265,2765,2229,1580,562,513,562,568,560,550,526,591,562,581,522,365,0,0,348,348,134,7,84,7,15,21,92,66,147,64,5,51,511,141,336,1350,0,0,684,9777,9354,449,6.6
3,2017,Sudeste,São Paulo,Assis,Assis,Paraguaçu Paulista,3535507,41,35,2265,2765,2229,1580,562,513,562,568,560,550,526,591,562,581,522,365,0,0,348,348,134,7,84,7,15,21,92,66,147,64,5,51,511,141,336,1350,0,0,684,9777,9354,449,6.6
4,2017,Sudeste,São Paulo,Assis,Assis,Palmital,3535309,24,19,982,1371,1066,826,312,259,251,252,297,262,215,252,337,217,203,248,0,0,146,146,42,12,42,11,11,15,40,19,56,28,5,19,296,60,235,599,0,0,340,5435,4481,241,6.6

In [30]:
df = pd.concat([df_result_2015, df_result_2017])

In [31]:
df.shape

(28872, 52)

In [56]:
df['ano_censo'].head()

0    2015
1    2015
2    2015
3    2015
4    2015
Name: ano_censo, dtype: int64

In [80]:
df['ideb'].head()

0    6.1
1    6.1
2    6.1
3    6.1
4
Name: ideb, dtype: object

In [97]:
df['ideb'] = df.ideb.apply(lambda x: x.replace('-',''))

AttributeError: 'int' object has no attribute 'replace'

In [98]:
df['ideb'] = df['ideb'].replace('', 0)

In [84]:
df_ideb[df_ideb['Ideb2017'] != '-']['Ideb2017'].order

NameError: name 'df_ideb' is not defined

In [ ]:
df_ideb[df_ideb['Ideb2017'] != '-']['Ideb2017'].min()

In [ ]:
df_ideb.sort_values(by=['Ideb2017'], ascending=False).head(10)