# BCG Gamma Challenge

# Libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy import stats

In [2]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

# Dataset

In [3]:
df_municipios_2015 = pd.read_csv('../bcggammachallenge/municipios/municipios20150101.csv')

In [4]:
df_municipios_2016 = pd.read_csv('../bcggammachallenge/municipios/municipios20160101.csv')

In [5]:
df_municipios_2017 = pd.read_csv('../bcggammachallenge/municipios/municipios20170101.csv')

In [6]:
df_municipios_2015.shape

(5570, 51)

In [7]:
df_municipios_2016.shape

(5570, 51)

In [8]:
df_municipios_2017.shape

(5570, 51)

In [9]:
df = pd.concat([df_municipios_2015, df_municipios_2016, df_municipios_2017])

In [10]:
df.shape

(16710, 51)

In [11]:
df.head(10)

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas
0,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45
1,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181
2,2015,Sudeste,São Paulo,Assis,Assis,Cruzália,3513306,5,3,103,105,93,84,33,18,23,21,10,21,17,26,29,29,30,25,0,0,18,18,3,1,3,1,2,1,2,1,3,2,1,2,3,3,1,54,0,0,44,590,405,37
3,2015,Sudeste,São Paulo,Assis,Assis,Campos Novos Paulista,3509809,3,3,202,334,312,167,62,59,90,63,60,96,64,78,74,69,55,43,0,0,26,26,3,0,3,0,3,2,3,2,2,2,2,2,3,3,3,133,0,0,77,1131,1015,61
4,2015,Sudeste,São Paulo,Assis,Assis,Assis,3504008,75,70,5052,6126,5002,3323,1256,1306,1237,1194,1133,1430,1053,1198,1321,1216,1087,1020,0,0,842,897,67,28,59,14,22,42,67,49,67,56,29,62,68,66,53,3288,0,0,1417,25237,22096,1134
5,2015,Sudeste,São Paulo,Assis,Assis,Palmital,3535309,24,20,1067,1259,1126,844,244,262,309,249,195,265,306,267,288,334,301,209,0,0,174,174,17,8,17,8,11,6,16,12,15,12,6,16,20,20,14,688,0,0,324,5645,4690,250
6,2015,Sudeste,São Paulo,Assis,Assis,Borá,3507209,3,3,49,78,51,47,17,18,17,12,14,12,11,12,16,18,19,10,0,0,24,16,3,0,3,2,1,0,3,1,3,2,0,3,3,3,2,49,0,0,28,366,225,27
7,2015,Sudeste,São Paulo,Assis,Assis,Ibirarema,3519501,6,5,319,387,387,206,92,72,76,81,66,101,101,63,122,91,60,55,0,0,34,34,5,2,5,3,2,2,5,2,5,2,0,2,5,5,2,119,0,0,65,1463,1344,71
8,2015,Sudeste,São Paulo,Assis,Assis,Iepê,3519907,3,3,354,446,428,321,79,91,98,110,68,91,115,111,111,106,117,98,0,0,42,42,3,0,2,0,0,3,3,2,1,2,0,3,3,3,3,219,0,0,94,2194,1593,100
9,2015,Sudeste,São Paulo,Assis,Assis,Platina,3539707,5,4,220,262,210,121,57,52,52,51,50,50,61,48,51,47,28,46,0,0,30,30,4,0,4,3,3,2,4,4,3,2,1,3,4,4,3,136,0,0,78,1066,843,59

In [12]:
df['regiao'].value_counts()

Nordeste        5382
Sudeste         5004
Sul             3573
Centro-Oeste    1401
Norte           1350
Name: regiao, dtype: int64

In [13]:
df['ano_censo'].value_counts()

2015    5570
2017    5570
2016    5570
Name: ano_censo, dtype: int64

In [14]:
df[df['municipio'] == 'Jussara']

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas
1510,2015,Centro-Oeste,Goiás,Noroeste Goiano,Rio Vermelho,Jussara,5212204,35,22,590,1274,1417,711,244,235,261,257,277,374,377,357,309,256,243,212,0,0,161,131,20,9,20,6,9,12,20,5,19,12,1,17,20,18,16,529,0,0,254,5739,4218,241
3218,2015,Nordeste,Bahia,Centro Norte Baiano,Irecê,Jussara,2918506,43,32,477,1416,1206,604,300,258,285,242,331,352,341,274,239,262,190,152,0,0,106,107,29,1,26,0,12,2,25,8,25,18,1,16,28,15,24,493,0,0,288,5947,4110,267
3316,2015,Sul,Paraná,Noroeste Paranaense,Cianorte,Jussara,4113007,6,6,237,479,452,282,169,80,92,73,65,126,110,110,106,135,96,51,0,0,54,49,6,1,5,1,3,2,6,1,6,4,3,6,6,6,2,196,0,0,105,1786,1487,100
2083,2016,Sul,Paraná,Noroeste Paranaense,Cianorte,Jussara,4113007,6,6,303,438,383,289,32,163,82,89,72,79,105,125,74,131,85,73,0,0,54,52,6,0,5,1,3,1,6,1,6,4,3,5,6,6,2,195,0,0,110,1668,1445,101
4659,2016,Centro-Oeste,Goiás,Noroeste Goiano,Rio Vermelho,Jussara,5212204,35,21,580,1292,1374,880,256,233,251,281,271,282,381,376,335,281,254,243,0,0,163,129,19,8,19,6,9,12,18,11,20,13,1,16,20,20,14,489,0,0,243,4701,4226,222
5214,2016,Nordeste,Bahia,Centro Norte Baiano,Irecê,Jussara,2918506,43,33,499,1387,1191,628,255,307,303,279,243,343,315,279,254,261,200,167,0,0,112,108,29,1,28,0,11,1,21,12,27,20,1,16,28,14,25,545,0,0,230,4133,4028,194
1514,2017,Centro-Oeste,Goiás,Noroeste Goiano,Rio Vermelho,Jussara,5212204,35,22,620,1266,1301,780,240,249,236,265,276,305,274,363,359,266,263,251,0,0,168,127,46,10,46,6,15,15,43,21,47,22,1,23,250,63,190,539,0,0,263,4946,4103,226
3201,2017,Nordeste,Bahia,Centro Norte Baiano,Irecê,Jussara,2918506,43,33,438,1430,1117,622,250,272,316,292,300,262,332,273,250,268,179,175,0,0,111,109,38,0,34,0,13,3,31,22,46,29,1,28,218,37,177,554,0,0,294,5637,3862,257
3316,2017,Sul,Paraná,Noroeste Paranaense,Cianorte,Jussara,4113007,6,6,299,440,350,267,81,35,162,72,90,86,78,104,82,105,88,74,0,0,56,54,22,1,6,3,2,1,19,6,31,6,2,7,54,33,21,192,0,0,102,1557,1385,98

In [15]:
columns = [
    'ano_censo',
    'regiao',
    'unidade_federativa',
    'municipio',
    'num_escolas',
    'num_escolas_em_atividade',
    'num_professores',
    'num_estudantes',
    'num_funcionarios'    
]

df[columns].head()

,ano_censo,regiao,unidade_federativa,municipio,num_escolas,num_escolas_em_atividade,num_professores,num_estudantes,num_funcionarios
0,2015,Sudeste,São Paulo,Nantes,3,3,44,676,89
1,2015,Sudeste,São Paulo,Tarumã,10,10,257,3473,458
2,2015,Sudeste,São Paulo,Cruzália,5,3,44,405,54
3,2015,Sudeste,São Paulo,Campos Novos Paulista,3,3,77,1015,133
4,2015,Sudeste,São Paulo,Assis,75,70,1417,22096,3288

In [16]:
df[columns].describe()

,ano_censo,num_escolas,num_escolas_em_atividade,num_professores,num_estudantes,num_funcionarios
count,16710.000000,16710.000000,16710.000000,16710.000000,1.671000e+04,16710.000000
mean,2016.000000,49.953082,33.662777,489.366308,8.719936e+03,1044.109874
std,0.816521,167.549962,124.677959,2422.241425,4.819107e+04,5612.292254
min,2015.000000,2.000000,1.000000,15.000000,1.170000e+02,29.000000
25%,2015.000000,12.000000,7.000000,85.000000,1.262000e+03,170.000000
50%,2016.000000,26.000000,15.000000,172.000000,2.765000e+03,349.000000
75%,2017.000000,53.000000,33.000000,375.000000,6.340000e+03,773.000000
max,2017.000000,9474.000000,7127.000000,135175.000000,2.780292e+06,314960.000000

In [17]:
df.columns

Index(['ano_censo', 'regiao', 'unidade_federativa', 'mesoregiao',
       'microregiao', 'municipio', 'cod_municipio', 'num_escolas',
       'num_escolas_em_atividade', 'num_estudantes_ensino_infantil',
       'num_estudantes_ensino_fund_anos_iniciais',
       'num_estudantes_ensino_fund_anos_finais',
       'num_estudantes_ensino_medio_propedeutico', 'num_estudantes_fund_1_ano',
       'num_estudantes_fund_2_ano', 'num_estudantes_fund_3_ano',
       'num_estudantes_fund_4_ano', 'num_estudantes_fund_5_ano',
       'num_estudantes_fund_6_ano', 'num_estudantes_fund_7_ano',
       'num_estudantes_fund_8_ano', 'num_estudantes_fund_9_ano',
       'num_estudantes_medio_1_serie', 'num_estudantes_medio_2_serie',
       'num_estudantes_medio_3_serie', 'num_estudantes_medio_4_serie',
       'num_estudantes_medio_nao_seriada', 'num_salas_existentes',
       'num_salas_utilizadas', 'num_equip_tv', 'num_equip_videocassete',
       'num_equip_dvd', 'num_equip_parabolica', 'num_equip_copiadora',
       'num_equip_retroprojetor', 'num_equip_impressora',
       'num_equip_impressora_mult', 'num_equip_som', 'num_equip_multimidia',
       'num_equip_fax', 'num_equip_foto', 'num_computador',
       'num_comp_administrativo', 'num_comp_aluno', 'num_funcionarios',
       'num_escolas_rurais', 'num_escolas_urbanas', 'num_professores',
       'num_matriculas', 'num_estudantes', 'num_turmas'],
      dtype='object')

In [18]:
df['cod_municipio'].dtypes

dtype('int64')

In [19]:
df.head()

,ano_censo,regiao,unidade_federativa,mesoregiao,microregiao,municipio,cod_municipio,num_escolas,num_escolas_em_atividade,num_estudantes_ensino_infantil,num_estudantes_ensino_fund_anos_iniciais,num_estudantes_ensino_fund_anos_finais,num_estudantes_ensino_medio_propedeutico,num_estudantes_fund_1_ano,num_estudantes_fund_2_ano,num_estudantes_fund_3_ano,num_estudantes_fund_4_ano,num_estudantes_fund_5_ano,num_estudantes_fund_6_ano,num_estudantes_fund_7_ano,num_estudantes_fund_8_ano,num_estudantes_fund_9_ano,num_estudantes_medio_1_serie,num_estudantes_medio_2_serie,num_estudantes_medio_3_serie,num_estudantes_medio_4_serie,num_estudantes_medio_nao_seriada,num_salas_existentes,num_salas_utilizadas,num_equip_tv,num_equip_videocassete,num_equip_dvd,num_equip_parabolica,num_equip_copiadora,num_equip_retroprojetor,num_equip_impressora,num_equip_impressora_mult,num_equip_som,num_equip_multimidia,num_equip_fax,num_equip_foto,num_computador,num_comp_administrativo,num_comp_aluno,num_funcionarios,num_escolas_rurais,num_escolas_urbanas,num_professores,num_matriculas,num_estudantes,num_turmas
0,2015,Sudeste,São Paulo,Assis,Assis,Nantes,3532157,3,3,167,168,170,141,37,32,34,19,46,31,45,58,36,43,53,45,0,0,19,19,3,1,2,1,2,1,3,2,2,1,0,2,3,3,1,89,0,0,44,782,676,45
1,2015,Sudeste,São Paulo,Assis,Assis,Tarumã,3553955,10,10,971,1053,852,483,210,209,218,225,191,211,216,208,217,187,171,125,0,0,117,117,9,0,9,3,6,2,9,8,9,8,2,8,10,10,8,458,0,0,257,3880,3473,181
2,2015,Sudeste,São Paulo,Assis,Assis,Cruzália,3513306,5,3,103,105,93,84,33,18,23,21,10,21,17,26,29,29,30,25,0,0,18,18,3,1,3,1,2,1,2,1,3,2,1,2,3,3,1,54,0,0,44,590,405,37
3,2015,Sudeste,São Paulo,Assis,Assis,Campos Novos Paulista,3509809,3,3,202,334,312,167,62,59,90,63,60,96,64,78,74,69,55,43,0,0,26,26,3,0,3,0,3,2,3,2,2,2,2,2,3,3,3,133,0,0,77,1131,1015,61
4,2015,Sudeste,São Paulo,Assis,Assis,Assis,3504008,75,70,5052,6126,5002,3323,1256,1306,1237,1194,1133,1430,1053,1198,1321,1216,1087,1020,0,0,842,897,67,28,59,14,22,42,67,49,67,56,29,62,68,66,53,3288,0,0,1417,25237,22096,1134